---
layout: default
---

<div style="width: 100%; line-height: 1em">
    <h1 style="margin-bottom: 0">PegasusHub</h1><br/>
    <span style="color: #999">A Community-enabled Workflows Repository for Pegasus</span>
</div>

{% assign workflows =  site.workflows | sort: "date_sort" | reverse %}
{% for wf in workflows limit: 8 %}

<div class="listing">
    <div class="date-list">
        {{ wf.last_update }}
    </div>
    <a href="{{ wf.url }}"><h1>{{ wf.repo_name }}</h1></a>
    <p>{{ wf.description }}</p>

    <div>
        {% if wf.training %}
        <span class="training-topic">
            <i class="fas fa-chalkboard-teacher"></i>
            &nbsp;training workflow
        </span>&nbsp;
        {% endif %}
        {% for t in wf.tags %}
        <span class="topic">{{ t }}</span>&nbsp;
        {% endfor %}
    </div>
</div>

{% endfor %}
