---
layout: default
---

<div style="width: 100%; line-height: 1em">
    <h1 style="margin-bottom: 0">PegasusHub</h1><br/>
    <span style="color: #999">A Community-enabled Workflows Repository for Pegasus</span>
</div>

<p style="margin-top: 2em">
    PegasusHub provides a <strong>curated</strong> collection of open source
    <a href="https://pegasus.isi.edu" target="_blank">Pegasus</a> workflow repositories hosted at
    <a href="https://github.com" target="_blank">GitHub</a>. Currently, the hub hosts
    <strong>{{ site.workflows.size }}</strong> workflow repositories.
</p>

<hr/>
<h2 style="margin-top: 0">Highlighted Workflows</h2>

<br>
{% assign filtered_wf =  site.workflows | where: "highlight", "true" | sort: "priority" | reverse %}
{% for wf in filtered_wf %}
<a class="listing" href="{{ wf.url }}">
    <div class="date-list">
        {{ wf.last_update }}
    </div>
    <h1>{{ wf.repo_name }}</h1>
    <p>{{ wf.description }}</p>

    <div>
        {% if wf.training %}
        <span class="training-topic">
            <i class="fas fa-chalkboard-teacher"></i>
            &nbsp;training workflow
        </span>&nbsp;
        {% endif %}
        {% for t in wf.tags %}
        <span class="topic"><nobr>{{ t }}</nobr></span>&nbsp;
        {% endfor %}
    </div>
</a>

{% endfor %}

<a href="/workflows" class="button" style="margin-top: 2em">See all workflow repositories</a>
