<div id="sidebar">

    <!-- Logo -->
    <div id="logo">
        <a href="/"><img src="/images/pegasushub-logo.png" style="width: 90%"></a>
    </div>


    <!-- Search -->
    <section class="box search">
        <form method="post" action="#">
            <input type="text" class="text" name="search" placeholder="Search for workflows..." id="search-input"/>
        </form>
        <div id="results-container"></div>
    </section>

    <!-- {% assign all_urls = ";workflows;contribute" | split: ";"%}
    {% assign all_names = "Home;Workflows;How to Contribute" | split: ";"%} -->
    <!-- Nav -->
    <nav id="nav">
        <ul>
            <!-- {% for curr_url in all_urls %}
            {% assign curr = "/" | append: curr_url %}
            {% if page.url != "/" %}
            {% assign curr = curr | append: ".html" %}
            {% endif %}
            {% if page.url == curr %}
            {% assign classnm="active2" %}
            {% else %}
            {% assign classnm="" %}
            {% endif %}
            <li class="{{classnm}}"><a href="/{{all_urls[forloop.index0]}}">{{all_names[forloop.index0]}}</a></li>
            {% endfor %} -->
            <li><a href="/">Home</a></li>
            <li><a href="/workflows/">Workflows</a></li>
            <li><a href="/contribute">How to Contribute</a></li>
        </ul>
    </nav>

    <!-- Text -->
    <!--    <section class="box text-style1">-->
    <!--        <div class="inner">-->
    <!--            <p>-->
    <!--                <strong>Striped:</strong> A free and fully responsive HTML5 site-->
    <!--                template designed by <a href="http://twitter.com/ajlkn">AJ</a> for <a href="http://html5up.net/">HTML5-->
    <!--                UP</a>-->
    <!--            </p>-->
    <!--        </div>-->
    <!--    </section>-->

    <!-- Recent Posts -->
    <!--    <section class="box recent-posts">-->
    <!--        <header>-->
    <!--            <h2>Recent Posts</h2>-->
    <!--        </header>-->
    <!--        <ul>-->
    <!--            <li><a href="#">Lorem ipsum dolor</a></li>-->
    <!--            <li><a href="#">Feugiat nisl aliquam</a></li>-->
    <!--            <li><a href="#">Sed dolore magna</a></li>-->
    <!--            <li><a href="#">Malesuada commodo</a></li>-->
    <!--            <li><a href="#">Ipsum metus nullam</a></li>-->
    <!--        </ul>-->
    <!--    </section>-->

    <!-- Recent Comments -->
    <!--    <section class="box recent-comments">-->
    <!--        <header>-->
    <!--            <h2>Recent Comments</h2>-->
    <!--        </header>-->
    <!--        <ul>-->
    <!--            <li>case on <a href="#">Lorem ipsum dolor</a></li>-->
    <!--            <li>molly on <a href="#">Sed dolore magna</a></li>-->
    <!--            <li>case on <a href="#">Sed dolore magna</a></li>-->
    <!--        </ul>-->
    <!--    </section>-->


    <!-- Copyright -->
    <ul id="copyright">
        <li>&copy;{{ site.time | date: '%Y' }} PegasusHub.</li>
        <div style="text-align: left; margin-top: 0.5em">
            <img src="/images/nsf-white.png" style="width: 2em; float: left; margin-right: 0.5em; margin-bottom: 0.1em"/>
            <p style="line-height: 1.4em">
                The Pegasus project is supported by the National Science Foundation under the OAC SI2-SSI program, grant
                #<a href="https://nsf.gov/awardsearch/showAward?AWD_ID=1664162&HistoricalAwards=false" target="_blank">1664162</a>.
                Pegasus also receives support from the Department of Energy, the National Institutes of
                Health, Defense Advanced Research Projects Agency, and the USC Information Sciences Institute.
            </p>
        </div>
    </ul>
    <script>
        var exactMatch = $('#nav > ul > li > a[href="' + window.location.pathname + '"]'); 
        console.log('found ', window.location.pathname);
        if (exactMatch.length) { 
            console.log("Exact Match"); 
            exactMatch.parents('li').addClass('active2'); 
        }
    </script>
</div>
