<div id="sidebar">

    <!-- Logo -->
    <div id="logo">
        <a href="/"><img src="/images/pegasushub-logo.png" style="width: 90%"></a>
    </div>


    <!-- Search -->
    <section class="box search">
        <form>
            <input type="text" class="text" name="search" placeholder="Search for workflows..." id="search-input" autocomplete="off"/>
        </form>
        <div id="results-container"></div>
    </section>
    
    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/workflows/">Workflows</a></li>
            <li><a href="/contribute">How to Contribute</a></li>
        </ul>
    </nav>


    <!-- Copyright -->
    <ul id="copyright">
        <li>&copy;{{ site.time | date: '%Y' }} PegasusHub.</li>
        <div style="text-align: left; margin-top: 0.5em">
            <img src="/images/nsf-white.png" style="width: 2em; float: left; margin-right: 0.5em; margin-bottom: 0.1em"/>
            <p style="line-height: 1.4em">
                The Pegasus project is supported by the National Science Foundation under the OAC SI2-SSI program, grant
                #<a href="https://nsf.gov/awardsearch/showAward?AWD_ID=1664162&HistoricalAwards=false" target="_blank">1664162</a>.
                Pegasus also receives support from the Department of Energy, the National Institutes of
                Health, Defense Advanced Research Projects Agency, and the USC Information Sciences Institute.
            </p>
        </div>
    </ul>
    <script>
        var exactMatch = $('#nav > ul > li > a[href="' + window.location.pathname + '"]'); 
        if (exactMatch.length) { 
            exactMatch.parents('li').addClass('active2'); 
        }
    </script>
</div>
